/******* CONFIG *******/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #ccc;
    font-size: 16px;
}

body {
    background-color: #0D0714;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.container .item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 0;
}


/******* ADD *******/
.container .add {
    flex-direction: row;
    margin-top: 70px;
}

.container .add input {
    flex: 1 1 auto;
    outline: none;
    padding: 10px 20px;
    background: transparent;
    font-size: 16px;
    border: 1px solid #3E1671;
    border-radius: 10px;
    margin-right: 20px;
}

.container .add button {
    width: 50px;
    height: 50px;
    color: #fff;
    background: #9E78CF;
    border: none;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 8px 24px;  
    transition: background .3s linear;
}

.container .add button:hover {
    cursor: pointer;
    background: #692bb9;
}

/******* TODOS *******/
.container .todos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container .todos h1 {
    margin-bottom: 10px;
}

.container .todos .todo {
    padding: 20px 20px 40px;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #15101C;
}

.container .todos .todo.todo-not-done .text {
    color: #9E78CF;
}
.container .todos .todo.todo-done .text {
    text-decoration: line-through; 
    color: #78CFB0;
}

.container .todos .todo .time {
    width: auto;
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: rgba(204, 204, 204, .4);
    font-size: 14px;
}

.container .todos .todo .text {
    flex: 1 1 auto;
    word-wrap: anywhere;
}

.container .todos .todo i {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border: none;
    color: #9E78CF;
    transition: color 0.3s linear;
}

.container .todos .todo .fa-trash.disable {
    color: #3E1671;
    &:hover {
        cursor: default;
        color: #3E1671;
    }
}

.container .todos .todo i:hover {
    cursor: pointer;
    color: #692bb9;
}